/Databases
/Digital_Electronics
/Math
/Graphics/tick1/out/

Graphics/tick1/.idea/vcs.xml
Graphics/tick2/.idea/
Graphics/tick2/hs_err_pid24936.log
Graphics/tick2/tick2.iml

*.jpg
*.jpeg
*.png
*.gif
*.class
